**/.vc
src/libprojectM/Debug
src/libprojectM/Release
src/libprojectM/libprojectM.VC.db
src/projectM-sdlvis/Debug
src/projectM-sdlvis/Release
src/WinLibs/freetype-2.3.5/objs
src/WinLibs/freetype-2.3.5/builds/win32/visualc/freetype.VC.db
src/WinLibs/FTGL/win32_vcpp/ftgl_static_lib/Debug_ST
src/WinLibs/FTGL/win32_vcpp/ftgl_static_lib/Release_ST
src/WinLibs/FTGL/win32_vcpp/ftgl.VC.db
src/WinLibs/glew/build/vc6/static/debug
src/WinLibs/glew/build/vc6/static/release
src/WinLibs/SDL2-2.0.5/VisualC/SDL/Win32/Debug
src/WinLibs/SDL2-2.0.5/VisualC/SDL/Win32/Release
src/WinLibs/SDL2-2.0.5/VisualC/SDL.VC.db
src/WinLibs/SDL2-2.0.5/VisualC/SDLmain/Win32/Debug
src/WinLibs/SDL2-2.0.5/VisualC/SDLmain/Win32/Release
