**/.vs
**/.vscode
**/*.VC.db
**/*.VC.opendb
**/Debug
**/Debug_ST
**/Release
**/Release_ST
src/libprojectM/libprojectM.VC.db
src/WinLibs/freetype-2.3.5/objs
src/WinLibs/freetype-2.3.5/builds/win32/visualc/freetype.VC.db
src/WinLibs/FTGL/win32_vcpp/ftgl.VC.db
src/WinLibs/SDL2-2.0.5/VisualC/SDL.VC.db
