**/.vs
**/.vscode
**/*.VC.db
**/*.VC.opendb
**/Debug
**/Debug_ST
**/Release
**/Release_ST
**/CMakeCache.txt
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
**/*.dylib
**/*.a
**/projectM_musikcube
**/libprojectM_musikcube_plugin.*
build
install_manifest.txt
src/libprojectM-build/
src/libprojectM-out/
